
<div class="col-md-12">
    <h4>Cadastro de Cliente</h4>
    <hr />
    <div class="row">
        <div class="col-md-4" ng-controller = "ClientesController as self">
            <label>Nome:</label>
            <input type="text" class="form-control" ng-model="self.nome" />

            <label class="mt-3">Telefone:</label>
            <input type="text" class="form-control" ng-model="self.telefone" />

            <label class="mt-3">Data de Nascimento:</label>
            <input type="date" class="form-control" ng-model="self.dataDeNascimento" />

            <label class="mt-3">Logradouro:</label>
            <input type="text" class="form-control" ng-model="self.logradouro" />

            <label class="mt-3">Cidade:</label>
            <input type="text" class="form-control" ng-model="self.cidade" />

            <label class="mt-3">Bairro:</label>
            <input type="text" class="form-control" ng-model="self.bairro" />

            <label class="mt-3">Número:</label>
            <input type="number" class="form-control" ng-model="self.numero" />

            <button  class="btn btn-success mt-3" ng-click="self.addCliente()">
                Cadastrar Cliente
            </button>
        </div>
    </div